* {
    margin: 0px;
    max-width: 2000px;
}

body {
    font-family: "Open Sans", sans-serif;
    height: auto;
    min-width: 1166px;
}

section {
    background: url("../img/bg-photo.jpg") fixed;
    background-size: 100%;
    padding: 80px 0px 80px 0px;
}

header {
    background-color: brown;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    padding: 14px 16px;
    min-width: 1166px;
}

header .nav {
    float: right;
    display: block;
    text-align: center;
    letter-spacing: 3px;
    padding-right: 50px;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

header p {
    float: left;
}

header a:not(:last-child) {
    padding-right: 20px;
}

header a:hover {
    color: orangered;
    transition: color 0.5s;
}

.home .container {
    width: 66%;
    background-color: whitesmoke;
    margin-left: 17%;
    margin-right: 17%;
    opacity: 0.9;
    border-radius: 25px;
}

.home>h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}

.home>h3 {
    text-align: center;
    padding: 20px;
    margin: 0px 225px 20px 225px;
    border-radius: 20px;
    background: gainsboro;
    opacity: 0.95;
}

.home .container h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.news-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-container .news {
    width: 90%;
    padding: 15px;
    margin-bottom: 25px;
    background-color: gainsboro;
    border-radius: 15px;
}

.news-container .news h4, p {
    display: inline;
}

.img-box {
    float: left;
    padding-right: 15px;
    padding-bottom: 0px;
}

.news-container .news img {
    display: inline;
    max-width: 220px;
    max-height: auto;
}

.novelties-books {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

.book h4 {
    text-align: center;
}

.book img {
    width: auto;
    height: auto;
    max-height: 350px;
    padding: 10px;
}

.products {
    padding-top: 75px;
    padding-bottom: 15px;
}

.products .container {
    width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    background-color: white;
    height: auto;
    opacity: 0.8;
    padding-bottom: 50px;
    border-radius: 25px;
}

.products .container h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.products .container .product-box {
    width: 80%;
    height: 310px;
    background-color: gainsboro;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.products .container .product-box .img-box {
    max-width: 200px;
    max-height: 340px;
    float: left;
    padding: 10px;
}

.products .container .product-box .img-box img {
    width: auto;
    max-height: 300px;
    padding: 0px;
}

.products .container .product-box .text-box h3 {
    padding-top: 5px;
    padding-bottom: 15px;
}

.products .container .product-box .text-box {
    width: 63%;
    float: left;
    padding-right: 10px;
}

.products .container .product-box .divka {
    margin-top: 45px;
    float: right;
    padding: 5px;
    margin-right: 7px;
    background-color: beige;
    border-radius: 5px;
}

.products .container .product-box .divka:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

.about table tr:nth-child(1) {
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid white;
}

.about th, td {
    padding-left: 20px;
}

.about tr {
    height: 41px;
}

.about table {
    color: #fff;
    width: 80%;
    margin-top: 25px;
    opacity: 0.9;
}

.about table a {
    color: #fff;
}

.about table caption {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    opacity: 0.9;
}

.feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.feedback h2 {
    color: white;
    opacity: 0.7;
    font-weight: 700;
    font-size: 27px;
    margin: 20px 0px 20px 0px;
}

.feedback p {
    color: white;
    opacity: 0.7;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 25px;
}

.feedback form {
    opacity: 0.8;
}

.feedback form label {
    color: white;
}

.feedback form .nameBlock input {
    width: 300px;
    height: 20px;
}

.feedback form .email {
    width: 610px;
    height: 20px;
}

.feedback form .responsive {
    width: 610px;
    height: 160px;
    max-width: 960px;
    max-height: 200px;
    min-width: 610px;
    min-height: 100px;
}

.feedback form .fname {
    float: left;
}

.feedback form .sname {
    float: left;
    padding-left: 10px;
}

.feedback button {
    margin-top: 10px;
    width: 240px;
    height: 45px;
    background-color: #ffffff;
    color: brown;
    font-size: 20px;
    border: 1px solid brown;
    opacity: 0.8;
}

.feedback button:hover {
    background-color: darkred;
    color: white;
}

.feedback button:active {
    border: 2px solid tomato;
}

.register .main-agileits {
    margin: 20px auto;
    background: brown;
    width: 520px;
    opacity: .8;
    border-radius: 20px;
}

.register .sub-head {
    height: 95px;
    font-size: 38px;
    color: white;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3px;
}

.sub-main {
    background-color: white;
    padding-top: 30px;
    height: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.register .sub-main input[type="text"], .sub-main input[type="password"] {
    font-size: 1.1em;
    margin: 2px 10px 20px 20px;
    padding: 10px 70px 10px 10px;
    border: none;
    border-radius: 20px;
    width: 400px;
    background-color: gainsboro;
}

.register .sub-main input[type="submit"] {
    color: white;
    background: darkred;
    border: none;
    margin: 0 auto;
    padding: 10px;
    font-size: 22px;
    border-radius: 50px;
    display: block;
    width: 60%;
    transition: 0.2s all;
    text-transform: uppercase;
}

.register .sub-main input[type="submit"]:hover {
    background: brown;
    color: black;
    transition: 0.2s;
}

.register .main-agileits h4 {
    text-align: center;
    padding-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: brown;
    color: white;
}

.first {
    width: 880px;
    height: 400px;
}

.second {
    width: 1000px;
    height: 500px;
}

.like-counter {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
}

.like-counter:hover {
    text-decoration: underline;
}

.liked {
    font-weight: bold;
}