    * {
        margin: 0px;
        max-width: 2000px;
    }
    
    body {
        font-family: "Open Sans", sans-serif;
        height: auto;
    }
    
    section {
        background: url("../img/bg-photo.jpg");
        background-size: 100%;
        padding: 80px 0px 80px 0px;
    }
    
    header {
        background-color: brown;
        position: fixed;
        width: 100%;
        z-index: 1;
        opacity: 0.8;
        padding: 14px 16px;
    }
    
    header .nav {
        float: right;
        display: block;
        text-align: center;
        letter-spacing: 3px;
    }
    
    header a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }
    
    header p {
        float: right;
        padding-right: 50px;
    }
    
    header a:not(:last-child) {
        padding-right: 20px;
    }
    
    header a:hover {
        color: orangered;
        transition: color 0.5s;
    }
    
    .home .container {
        width: 66%;
        background-color: whitesmoke;
        margin-left: 17%;
        margin-right: 17%;
        opacity: 0.9;
        border-radius: 25px;
    }
    
    .home>h1 {
        text-align: center;
        padding-bottom: 50px;
        font-size: 30px;
    }
    
    .home>h3 {
        text-align: center;
        padding-bottom: 50px;
    }
    
    .home .container h1 {
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
    
    .news-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .news-container .news {
        width: 90%;
        padding: 15px;
        margin-bottom: 25px;
        background-color: gainsboro;
        border-radius: 15px;
    }
    
    .news-container .news h4, p {
        display: inline;
    }
    
    .img-box {
        float: left;
        padding-right: 15px;
        padding-bottom: 0px;
    }
    
    .news-container .news img {
        display: inline;
        max-width: 220px;
        max-height: auto;
    }
    
    .novelties-books {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 75px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .book h4 {
        text-align: center;
    }
    
    .book img {
        width: auto;
        height: auto;
        max-height: 350px;
        padding: 10px;
    }
    
    .products {
        padding-top: 75px;
        padding-bottom: 15px;
    }
    
    .products .container {
        width: 66%;
        margin-left: 17%;
        margin-right: 17%;
        background-color: white;
        height: auto;
        opacity: 0.8;
        padding-bottom: 50px;
        border-radius: 25px;
    }
    
    .products .container h1 {
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }
    
    .products .container .product-box {
        width: 80%;
        height: 350px;
        background-color: gainsboro;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    
    .products .container .product-box .img-box {
        max-width: 30%;
        float: left;
    }
    
    .products .container .product-box .img-box img {
        width: 95%;
        height: auto;
        max-height: 340px;
        padding: 25px;
    }
    
    .products .container .product-box .text-box h3 {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    
    .products .container .product-box .text-box {
        width: 63%;
        float: right;
        padding-right: 10px;
    }
    
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about table {
        border-collapse: collapse;
        margin-bottom: 50px;
    }
    
    .about table tr:nth-child(1) {
        text-transform: uppercase;
        text-align: left;
        border-bottom: 1px solid white;
    }
    
    .about th, td {
        padding-left: 20px;
    }
    
    .about tr {
        height: 41px;
    }
    
    .about table {
        color: #fff;
        width: 80%;
        margin-top: 25px;
        opacity: 0.9;
    }
    
    .about table a {
        color: #fff;
    }
    
    .about table caption {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
        opacity: 0.9;
    }
    
    .feedback {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }
    
    .feedback h2 {
        color: white;
        opacity: 0.7;
        font-weight: 700;
        font-size: 27px;
        margin: 20px 0px 20px 0px;
    }
    
    .feedback p {
        color: white;
        opacity: 0.7;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    .feedback form {
        opacity: 0.8;
    }
    
    .feedback form label {
        color: white;
    }
    
    .feedback form .nameBlock input {
        width: 300px;
        height: 20px;
    }
    
    .feedback form .email {
        width: 610px;
        height: 20px;
    }
    
    .feedback form .responsive {
        width: 610px;
        height: 160px;
        max-width: 960px;
        max-height: 200px;
        min-width: 610px;
        min-height: 100px;
    }
    
    .feedback form .fname {
        float: left;
    }
    
    .feedback form .sname {
        float: left;
        padding-left: 10px;
    }
    
    .feedback button {
        margin-top: 10px;
        width: 240px;
        height: 45px;
        background-color: #ffffff;
        color: brown;
        font-size: 20px;
        border: 1px solid brown;
        opacity: 0.8;
    }
    
    .feedback button:hover {
        background-color: darkred;
        color: white;
    }
    
    .feedback button:active {
        border: 2px solid tomato;
    }
    
    .register .main-agileits {
        margin: 20px auto;
        background: brown;
        width: 30%;
        opacity: .8;
        border-radius: 20px;
    }
    
    .register .sub-head {
        font-size: 38px;
        padding: 25px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
    }
    
    .register .sub-main input[type="text"], .sub-main input[type="password"] {
        font-size: 1.1em;
        margin: 2px 10px 20px 20px;
        padding: 10px 70px 10px 10px;
        border: none;
        border-radius: 4px;
        width: 68%;
    }
    
    .register .sub-main input[type="submit"] {
        color: white;
        background: darkred;
        border: none;
        padding: 14px 50px;
        font-size: 22px;
        border-radius: 2px;
        margin: 17px 17px 17px 27%;
        transition: 0.2s all;
        text-transform: uppercase;
    }
    
    .register .sub-main input[type="submit"]:hover {
        background: #d9edf7;
        color: black;
        transition: 0.2s;
    }
    
    .register .main-agileits h4 {
        text-align: center;
        padding-bottom: 20px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: brown;
        color: white;
    }
    
    .first {
        width: 880px;
        height: 400px;
    }
    
    .second {
        width: 1000px;
        height: 500px;
    }
    
    .like-counter {
        color: #000;
        text-decoration: none;
        margin-right: 5px;
    }
    
    .like-counter:hover {
        text-decoration: underline;
    }
    
    .liked {
        font-weight: bold;
    }

    